<div ng-controller="GalleryCtrl as galCtrl">

  <div class="side-ctrl-wrap">
    <div class="side-ctrl-2">
      <div><span class="fa fa-3x fa-refresh"></span></div>
    </div>
    <div class="side-ctrl-1" ng-click="galCtrl.uploadImg($event)">
      <div><span class="fa fa-3x fa-picture-o"></span></div>
    </div>
    <div class="side-ctrl-3">
      <div><span class="fa fa-3x fa-pencil-square-o"></span></div>
    </div>

  </div>

  <div class="side-close">

  </div>

  <div class="container">
  <!--  <div class="gal-sidebar" id="galSideBar">
      <ul>
        <li class="gal-sidebar-brand"><a href="">Gallery</a></li>
        <li><a href="#">Upload New Image</a></li>
      </ul>
      <md-button class="md-button gal-sidebar-sw" style="width: 50px">
        <span class="fa fa-refresh"></span>
      </md-button>
    </div>-->

    <!--<sn-select sn-sel-data="galleryMode"></sn-select>-->

    <div class="md-content gal-content">
      <md-card-content>
        <div layout="row" style="margin-top: 50px">
          <md-content class="col-xs-6">
            <md-input-container>
              <md-select ng-model="ctrl.userState">
                <md-option ng-repeat="m in galleryMode" ng-value="m.mode">
                  {{m.desc}}
                </md-option>
              </md-select>
            </md-input-container>
          </md-content>
        </div>
      </md-card-content>
      <!--<img-gallery img-urls="['http://baidu.com']"></img-gallery>-->

    </div>

    <div class="gal-album-wrap" id="gallery" gallery ui-view="">
      <ul class="gal-album-grid" id="gallery_id">
        <li ng-repeat="album in albums" id="gallery_{{album._id}}" class="gal-album-grid-item"
            ui-sref="main.gallery.album({aid: album._id, uid: album.uid})"
            data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg">
          <div>
            <div class="album-item-head">
              {{album.name}}
            </div>
            <img class="album-item-img" src="https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg">
            <div class="album-item-footer">
              最后更新：{{album.last_upload_time}}
            </div>
          </div>
        </li>　
        <li class="gal-album-grid-item" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg">
          <div class="album-item-head">
            万物
          </div>
          <img class="album-item-img" src="https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg">
          <div class="album-item-footer">
            最后更新：2017-04-03 14:00
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
