<div class="be md-content md-raised" id="blog_editor">

  <div>
    <div class="be-panel">
      <div class="form-group">
        <md-button for="comment" style="border: rgba(23, 6, 255, 0.2) solid 1px; text-combine: false">Markdown Blog Editor</md-button>

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="" id="blog_head">
          <div flex-xs flex-gt-xs="40" layout="column">
            <md-input-container>
              <label>Title</label>
              <input ng-model="blog.title">
            </md-input-container>
          </div>
          <md-chips flex-xs flex-gt-xs="60" layout="column"
            ng-model="default.tags"
            readonly="default.readonly"
            md-removable="default.removable" md-transform-chip="newTag($chip)"
            placeholder="Enter a tag"
            delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag"
            secondary-placeholder="+Tag">
            <md-chip-template>
              <span>{{$chip.tag}}</span>
            </md-chip-template>
          </md-chips>
        </md-content>
        <textarea id="blog_content"	name="blog editor" class="content-box"
                   ng-model="blogEditor"
                   markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical'}"
                   on-fullscreen="editor.onFullScreenCallback()"
                   on-fullscreen-exit="editor.onFullScreenExitCallback()"
                   rows="10"
                   upload-image>
        </textarea>
        <md-content id="blog_submit">
            <md-button class="md-raised" ng-style="blogSubmitStyle" ng-click="editor.saveBlog()">SUBMIT</md-button>
        </md-content>
      </div>
    </div>
  </div>

  <hr/>

  <!--
  <div class="outline" style="padding:20px; margin-bottom: 20px" marked src="'readme.md'">

  </div>
  -->
</div>
