.blog-detail {
  background: #fff;
  padding:50px;
  width: 810px;
  min-height: 1200px;
  margin: 20px auto 0 auto;
  box-shadow: -4px -4px 4px rgba(100,100,100,.2);
}

@media handheld, screen and (max-device-width: 480px), handheld, screen and (max-width: 480px) {
  .blog-content {
    overflow: scroll;
  }
  .blog-content img {
    max-width: 100%;
    padding: .2rem;
  }
  .blog-detail {
    padding: 2%;
    width: 100%;
    margin-top: 0px;
  }
}

.blog-detail.ul {
  overflow: hidden;
}

.blog-detail-title {
  font-size: 140%;
}

.blog-content {
  font-size: 120%;
  /*border: 1px solid rgba(221, 223, 255, 0.6);*/
}

.blog-content img {
  max-width: 80%;
  padding: 5px;
  margin-left: 10%;
}

/*highlight theme*/
pre {
  border-radius: 1px;
  border-width: 0px;
}
