.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

main {
  background: rgb(179, 199, 255);
  background-size: cover;
  -webkit-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.navbar > div {
  background-color: rgba(101, 63, 255, 0.4);
}

@media handheld, screen and (max-device-width: 480px){
  .navbar {
    background-color: rgba(101, 63, 255, 0.4);
  }
  .navbar-toggle {
    background-color: rgba(101, 63, 255, 0.8);
  }
  .navbar-default .navbar-brand {
    color: white;
  }
  .navbar-default .navbar-nav > li > a {
    color: lightgrey;
  }
}
