#about {
  width: 60%;
  margin-left: 20%;
  background: rgba(179, 199, 255, 0.6);
}

.wp-about {
  min-height: 100%;
  height: 100%;
}

.about-info {
  width: 100%;
}

.about-info > ul {
  background: lightslategray;
}

.about-info > ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-info > ul:first-child {
  margin-top: 20px;
}
.about-info > ul:last-child {
  margin-bottom: 20px;
}

.about-info > ul > li {
  list-style: none;
}

.about-info > ul > li > img {
  width: 80px;
  height: 80px;
  background-clip: border-box;
  border-radius: 50%;
  border-color: rgba(128, 128, 128, 0.2);
  border-width: 5px;
}

.about-info > ul > li > img:hover {
  border-color: rgba(128, 128, 128, 0.6);
}

#about-title {
  margin-left: 20px;
  font-size: 200%;
  color: rgba(25, 113, 255, 0.6);
}

.about-info-view > div {
  display: inline-block;
}

.line-divider {
  height: 5px;
  width: 50%;
  margin: 5px 0 5px 25%;
  background: rgba(151, 151, 151, 0.33);
}

.about-info-view {
  display: block;
  align-content: center;
  overflow: hidden;
  margin: 20px auto;
  width: 320px;
  height: 480px;
}

.album-photo-ct {
  /*margin: 50px auto;*/
  /*width: 100%;*/
  height: 45%;
  align-content: center;
  overflow: hidden;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  position: relative;
}

@media screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10),
handheld, screen and (max-device-width: 480px), handheld,screen and (max-width: 480px){
  .album-photo-ct {
    border: 5px solid;
    border-top-color: #856036;
    border-left-color: #5d4426;
    border-bottom-color: #856036;
    border-right-color: #5d4426;
    width: 100%;
    height: 45%;
  }
  .about-info-view {
    float: left;
  }
  #about {
    width: 100%;
    margin-left: 0;
  }
}

.album-photo {
  background-origin: content-box;
  -webkit-box-sizing: content-box;
  width: 100%;
  height: 100%;
  background: transparent;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}
.album-photo-ct > img {
}
.album-photo-ct > img:nth-child(1) {
  animation-delay: 12s;
}

.album-photo-ct > img:nth-child(2) {
  animation-delay: 8s;
}

.album-photo-ct > img:nth-child(3) {
  animation-delay: 4s;
}

.album-photo-ct > img:nth-child(4) {
  animation-delay: 0s;
}

.about-info > md-content {
  background: rgba(51, 51, 51, 0.2);
}
