<div ui-view="" class="md-content">
  <ul id="blog-list">
    <li ng-repeat="item in blog.pageResult.docs">
      <!--PEN CODE-->
      <div class="blog-card {{$index%2!=0? 'alt' : ''}}">
        <div class="photo {{$index%2!=0? 'photo1' : 'photo2'}}"></div>
        <ul class="details">
          <li class="author"><a href="#">{{item.author.name}}</a></li>
          <li class="date">{{item.create_time}}</li>
          <li class="tags">
            <ul>
              <li><a href="#">Learn</a></li>
              <li><a href="#">Code</a></li>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
            </ul>
          </li>
          <li class="other">other + {{$index}}</li>
        </ul>
        <div class="description">
          <h2>{{item.title}}</h2>
          <h3>Opening a door to the future</h3>
          <p class="summary" ng-bind-html="item.html_content"></p>
          <a href="#" ui-sref="main.blog.detail({blogId: item._id})">Read More</a>
        </div>
      </div>
      <!--END PEN CODE-->
    </li>
  </ul>

  <nav aria-label="Page navigation" class="blog-page-nav">
    <ul class="pagination blog-list-pg" >
      <li>
        <a href="#" aria-label="Previous" ng-click="blog.prePage()">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="a in blog.getIndexArr()" ng-click="blog.index(a)"><a href="#">{{a}}</a></li>
      <li>
        <a href="#" aria-label="Next" ng-click="blog.nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div id="blog-pg-st">
    <ul>
      <li><span href="#">页面大小:</span></li>
      <li><a href="#" ng-click="blog.setPageSize(5)">[5]</a></li>
      <li><a href="#" ng-click="blog.setPageSize(10)">[10]</a></li>
      <li><a href="#" ng-click="blog.setPageSize(15)">[15]</a></li>
    </ul>
  </div>
</div>
